DEBUG=false

SECRET_KEY=7f3d9a2b8c4e1f6a0d5b2e8c4f7a1d3e9b6c2f5a8d4e7b1c3f6a9d2e5b8c4f7

DATABASE_URL=postgresql://postgres.ijqbewcgfshzankpzscq:st1080692841@aws-0-us-west-2.pooler.supabase.com:6543/postgres

SUPABASE_URL=https://ijqbewcgfshzankpzscq.supabase.co
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlqcWJld2NnZnNoemFua3B6c2NxIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MjQ2MjE5OCwiZXhwIjoyMDg4MDM4MTk4fQ.mPx6Z67lDAI2hDkj1WWKTA8thK8izDymJlumHvYEsFU
SUPABASE_STORAGE_BUCKET=reportes-solumed


SOCRATA_APP_TOKEN=

CORS_ORIGINS=["http://localhost:3000","http://localhost:3001"]